# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build


# Added by cargo

/target

# ignore PHP garbage
PHP/vendor/*
PHP/.idea/*
/.idea/*
rust/target/*

Java/.idea
Java/.gradle